---
nav-menu: false
show_tile: false
---

.section-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bop {
    animation: 3s ease-in-out 0s infinite alternate both running bop;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
}
.bop-delay {
    animation-delay: 500ms;
}
body.is-loading #main {
    opacity: 0;
    animation: none !important;
}
#main {
    opacity: 1;
    transition: opacity 2.5s ease 1s;
}
section span.image {
    transition: transform 0.1s linear;
}
section span.image:hover {
    transform: scale(1.01)
}
@keyframes bop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1em);
    }
}